.DS_Store
server/.prettierrc
server/public/images/upload/andrea.jpeg
.gitignore
server/public/images/upload/*
!server/public/images/upload/Bookstash.png
!server/public/images/upload/Autodraw.png
!server/public/images/upload/break.jpeg
!server/public/images/upload/emma.jpeg
!server/public/images/upload/Fathom.png
!server/public/images/upload/GrassHopper.png
!server/public/images/upload/ImageExtractor.png
!server/public/images/upload/joseph.jpeg
!server/public/images/upload/JSRobot.jpeg
!server/public/images/upload/lucas.jpeg
!server/public/images/upload/neuralCam.png
!server/public/images/upload/Marble.png
!server/public/images/upload/Olivia.jpeg
!server/public/images/upload/PogChat.png
!server/public/images/upload/Remotely.png
!server/public/images/upload/sophia.jpeg
!server/public/images/upload/Spirit.jpeg
!server/public/images/upload/SuperDMs.jpeg
!server/public/images/upload/Unsplash.jpeg
!server/public/images/upload/victoria.jpeg
!server/public/images/upload/WhatsNext.jpeg
!server/public/images/upload/ZeroBalance.jpeg
!server/public/images/upload/andrea.jpeg