<div class="container d-flex align-items-center flex-column">
  <h1 class="m-5">OOPS!!!</h1>
  <div class=" d-flex align-items-center flex-column">
    <span class="bg-403">forbidden</span>
    <ul class="list-group m-5">
      {{#each errors}}
      <li class="list-group-item">
        {{this}}
      </li>
      {{/each}}
    </ul>
    {{#if loginError}}
    <a class="btn btn-outline-danger" href="/users/signup" >
      Login
    </a>
    {{/if}}
  </div>
</div>
