@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: 0px 0 20px;
  color: #212529;
}

.border-6 {
  border: 1px solid black;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 520px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}

.invalid-feedback,
.valid-feedback {
  font-size: 0.7rem;
}

#signUpForm label {
  display: none;
}

#signInForm label {
  display: none;
}

.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.rounded-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.absolute-avatar {
  width: 30px;
  border-radius: 50%;
  height: 30px;
}

.avatar {
  transform: scale(0.4);
  width: 100px;
  height: 100px;
}

.notFound {
  left: 0%;
  top: -0.00510204%;
  width: 30%;
  height: 30.01%;
}

.profileContainer {
  position: relative;
}

.toast {
  position: fixed;
  top: 15%;
  right: 0;
  width: 20%;
  background-color: #ff4b2b;
  color: #fff;
  z-index: 9999;
}

.replyToast {
  width: 100%;
  z-index: 9999;
}

.bg-403 {
  font-size: 440px;
  font-family: var(--font-display);
  animation-delay: 1s + 2 * 2s;
  z-index: 0;
  background: linear-gradient(
    to top,
    rgba(32, 38, 40, 0) 25%,
    rgba(49, 57, 61, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateX(-3%) translateY(-8%) translateZ(-100px) skewY(-3deg)
    scale(0.2);
  position: absolute;
  pointer-events: none;
  transition: transform 1200ms var(--acc-back);
}

textarea.communityInput {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
  background-color: transparent;
  width: 71%;
  border-radius: 10px;
  border: 1px solid lightgrey;
  padding: 10px;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.card {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 20px;
}

.postReply,
.newPostShadow {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin-bottom: 20px;
  background-color: #fff;
}

.card-text::after {
  content: " * ";
  display: inline;
  margin-right: 1px;
}

.postReply {
  margin-left: 10px;
}

.likePost {
  color: grey;
  outline: none;
}

.likePost:hover {
  color: grey;
  background: white;
}

.disabled,
textarea.disabled,
button.disabled,
input.disabled {
  background: #cacaca;
  cursor: not-allowed;
}

button.disabled {
  color: #ff4b2b;
}

p.reply-error-confirmed,
p.post-error-confirmed {
  color: red;
  border: 1px solid red;
  width: 45%;
  padding: 0.5em;
}

p.reply-error-confirmed {
  margin-left: 30% !important;
  width: 35%;
}

a.newPost {
  animation: newPostShadow 5s linear 2s infinite alternate;
}

ul {
  list-style: none;
}
#box {
  width: 1000px;
  border: 1px solid #ccc;
  margin: 1px auto;
  padding: 20px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#comment {
  width: 900px;
  height: 75px;
  padding: 10px 10px;
  font-size: 20px;
  /*outline: none;*/
}
.box_top {
  margin-bottom: 5px;
  display: inline-block;
}
#comment_content li {
  border-bottom: 1px dashed #ccc;
  width: 900px;
  font-size: 17px;
  color: rgb(14, 13, 13);
}
#comment_content li a {
  float: right;
}

ul,
li,
body {
  padding: 0;
  margin: 0;
}

.rate {
  float: left;
  list-style: none;
  width: 27px;
  height: 28px;
  background-image: url(../images/star.gif);
  background-position: 0 0;
}

#rater {
  font-size: 20px;
  font-weight: 600;
  color: coral;
}

.userimg {
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

#reviewpart {
  width: 1000px;
  border: 1px solid #ccc;
  margin: 10px auto;
  padding: 20px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

#chart {
  height: 600px;
  width: 800px;
  position: absolute;
  top: 200px;
}

/* .more-tjm-info {
  width: 60px;
  float: right;
  margin-right: 10px;
} */

ul {
  list-style: none;
}
#box {
  width: 1000px;
  border: 1px solid #ccc;
  margin: 1px auto;
  padding: 20px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#comment {
  width: 900px;
  height: 75px;
  padding: 10px 10px;
  font-size: 20px;
  /*outline: none;*/
}
.box_top {
  margin-bottom: 5px;
  display: inline-block;
}
#comment_content li {
  border-bottom: 1px dashed #ccc;
  width: 900px;
  font-size: 17px;
  color: rgb(14, 13, 13);
}
#comment_content li a {
  float: right;
}

ul,
li,
body {
  padding: 0;
  margin: 0;
}

.rate {
  float: left;
  list-style: none;
  width: 27px;
  height: 28px;
  background-image: url(../images/star.gif);
  background-position: 0 0;
}

#rater {
  font-size: 20px;
  font-weight: 600;
  color: coral;
}

.userimg {
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

#reviewpart {
  width: 1000px;
  border: 1px solid #ccc;
  margin: 10px auto;
  padding: 20px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

#chart {
  height: 600px;
  width: 800px;
  position: relative;
}

/* .more-tjm-info {
  width: 60px;
  float: right;
  margin-right: 10px;
} */

.white_content {
  display: none;
  position: absolute;
  top: 18%;
  left: 30%;

  width: 400px;
  height: 500px;
  background: #ffffff;
  border-radius: 6px;

  z-index: 1002;
  overflow: auto;
  position: fixed;
}

.top-div {
  display: flex;
  height: 56px;
  background: #ffffff;
  border-bottom: 1px solid #cccc;
}

.closeBtn {
  width: 14px;
  height: 14px;
  margin-left: 60px;
  margin-top: 18px;
  font-weight: bold;
  font-size: 14px;
  color: #666666;
  width: 5%;
  cursor: pointer;
}
/*
product page
*/
div.productContainer {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size:24px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  height: auto;
  width: 60%;
  margin: auto;
  margin-top: 0;
}
div.prodName {
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  height: auto;
}
.description h4 {
  margin-top: 20px;
  display: inline;
}
.description p {
  font-size: 15px;
  line-height: 1em;
  display: inline;
}
div.descrtiption {
  max-height: fit-content;
  width: max-content;
}
div.logo {
}
div.logo img {
  width: 200px;
  height: 200px;
}

/*
like button
*/

.like__btn {
  padding: 10px 15px;

  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  color: #e8efff;
  outline: none;
  border: none;
  cursor: pointer;
  /* padding-left: 20px;
    margin-left:125px; */
  margin-right: 40px;
}

div.prodBtns {
  margin-top: 4%;

  margin: 20px;
  width: fit-content;
}

div#profile ul {
  all: revert;
  color: coral;
}
div#contact a {
  all: revert;
}

div#home {
  font-size: 16px;
}
div#home h6 {
  display: inline;
  color: coral;
}

button.getProd {
  display: inline;
  padding: 10px 15px;

  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  color: #e8efff;
  outline: none;
  border: none;
}

.closeBtn {
  width: 14px;
  height: 14px;
  margin-left: 60px;
  margin-top: 18px;
  font-weight: bold;
  font-size: 14px;
  color: #666666;
  width: 5%;
  cursor: pointer;
}

.tagPill {
  transform: scale(0.6);
  cursor: default;
}

.tagPill:focus {
  outline: none;
  transform: scale(0.6);
}

.hideError {
  display: none !important;
}

.productContainer {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

@media (max-width: 768px) {
  #searhcForm {
    display: flex !important;
    flex-direction: row !important;
  }
  .productContainer {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }
}

#userAvatar,
.loginBtn,
.logoutBtn {
  color: white;
}

#review {
  width: 100%;
  height: auto;
  top: 700px;
  position: absolute;
  margin-left: 20%;
}

.description {
  width: 600px;
  height: auto;
  font-size: 20px;
  padding: 5px;
}

#review {
  width: 100%;
  height: auto;
  top: 700px;
  position: absolute;
  margin-left: 20%;
}

.description {
  width: 600px;
  height: auto;
  font-size: 20px;
  padding: 5px;
}

#reviewform {
  width: 500px;
  height: 100%;
  text-align: left;
  margin-top: 20px;
}

.ReviewContainer {
  position: absolute;
  top: 650px;
}
