<div class= "Search List">
<<<<<<< HEAD
    <h3>Search Results:</h3>
=======
>>>>>>> 4775a1a4c77645bf74967419f3c5f8fa5c97ab6b
    {{#each products}}
    <div class="card" >
        <h2>{{this.product_Name}}</h2>
        <p>{{this.likes}}</p>
        <p>{{this.rating}}</p>
        <p>{{this.tags}}</p>
        <br/>
    </div>
    {{/each}}
</div>
