<div class= "Search List">
    {{#each products}}
    <div class="card" >
        <h2>{{this.product_Name}}</h2>
        <p>{{this.likes}}</p>
        <p>{{this.rating}}</p>
        <p>{{this.tags}}</p>
        <br/>
    </div>
    {{/each}}
</div>
